<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.VIPCardDao">
    <select id="getCard" resultType="com.bean.VIP_Card">
        select id, type,handingDate,state from vipCard where id=#{id}
    </select>
    <select id="getCardList" resultType="com.bean.VIP_Card">
        select id, type,handingDate,state from vipCard group by id
    </select>
    <select id="getCardListByType" resultType="com.bean.VIP_Card">
        select id, type,handingDate,state from vipCard where type=#{type} group by id
    </select>
    <insert id="addCard">
        insert into vipCard(type,handingDate,state)
        values (#{type},#{handingDate},#{state})
    </insert>
    <delete id="logoutCard">
        delete from vipCard where id=#{id}
    </delete>
    <update id="changeType">
        update vipCard set type=#{type} where id=#{id}
    </update>
</mapper>